<!-- home content: show if user not logged in -->
<div layout="column" ng-controller="AuthController" >
  <div layout="row" style="height: 200px" layout-align="center center" ng-if="!isAuthenticated()">
    <div layout="row" hide-xs flex="70" layout-align="center center">
      <span class="md-display-3"></span>
    </div>
    <div flex>
      <div layout="column" layout-align="center center" ng-if="!isAuthenticated()">
        <h1 class="md-title">Log in to Profile with</h1>
        <div layout="row">
          <img style="width: 36; height: 36; padding: 6px" src="assets/icon/google-icon-128.png" alt="Google">
          <md-button class="md-primary md-raised md-hue-2" ng-click="authenticate('google')">Google Account</md-button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- home content -->
<md-content layout-padding layout="column"   >
  <div ng-controller="HomeController as ctrl" layout="column" ng-cloak style="min-height: 70% !important;" layout-align="center">
    <div>
        <div layout="row" id="searchContent" >
          <md-icon>search</md-icon>
          <input autofocus type="text" id="searchBox" ng-model="query_string" ng-enter="submitSearch()" placeholder="Search">
      </div>
    </div>

    <!-- <md-content layout-padding layout="column" >
      <form>
        <p>Use <code>&lt;md-autocomplete&gt;</code> with custom templates to show styled autocomplete results.</p>
        <md-autocomplete
            ng-disabled="ctrl.isDisabled"
            md-no-cache="ctrl.noCache"
            ng-enter="ctrl.gotoSearchPage(ctrl.searchText)"
            md-selected-item="ctrl.selectedItem"
            md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
            md-search-text="ctrl.searchText"
            md-selected-item-change="ctrl.selectedItemChange(item)"
            md-items="item in ctrl.querySearch(ctrl.searchText)"
            md-item-text="item.name"
            md-min-length="0"
            placeholder="Pick an Angular repository"
            md-menu-class="autocomplete-custom-template">
          <md-item-template>
            <span class="item-title">
              <md-icon>search</md-icon>
              <span> {{item.name}} </span>
            </span>
            <span class="item-metadata">
              <span class="item-metastat">
                <strong>{{item.watchers}}</strong> watchers
              </span>
              <span class="item-metastat">
                <strong>{{item.forks}}</strong> forks
              </span>
            </span>
          </md-item-template>
        </md-autocomplete>
      </form>
    </md-content> -->

  </div>

  <md-toolbar id="footer" class="md-medium-tall">
    <div layout="column" flex>
      <div class="footer-links" layout="row" layout-align="space-around start">
        <div layout="column">
          <span>Another Tools</span>
          <a href="http://stack-ciandt.appspot.com/" target="_blank">Stack</a>
          <a href="https://techgallery.ciandt.com" target="_blank">Tech Gallery</a>
          <a href="https://techanalytics.ciant.com" target="_blank">Tech Analytics</a>
        </div>

        <div layout="column">
          <span>Profile</span>
          <a href="/#/search">Search</a>
          <a href="/api">API</a>
        </div>

        <div layout="column">
          <span>Follow Us</span>
          <a href="https://github.com/marcuslacerda/profile-gallery" target="_blank">GitHub</a>
          <a href="https://ciandt-archs.slack.com" target="_blank">Slack Channel</a>
          <a href="https://github.com/marcuslacerda/profile-gallery/issues" target="_blank">Open Issues ([[open_issues]])</a>
        </div>
      </div>
    </div>
  </md-toolbar>
</md-content>
