.selected {
  color:#F12938!important
}

.logo {
  width: 24px;
  height: 24px;
}

.badge1 {
   position:relative;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}


#loading-bar .bar {
  background: black;
  z-index: 10;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  black;
  border-left-color: gray;
}
#loading-bar-spinner {
  top: 70px;
  left: 97%;
}

md-toast.error .md-toast-content {
  background-color: red;
}

.avatar {
  border-radius: 99%;
  width: 48px;
  height: 48px
}
.autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

.autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }

.autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }

.endorsers-image {
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

#profile {
  background: #b9b8b8;
}

.image-profile {
  margin: 5px;
  width: 100px;
  height: 100px;
}

  #footer {
    min-height: 150px;
    background: #424242;
  }

  #footer span{
    font-size: 24px;
  }

  #footer a {
       color: #fff;
       font-size: 14px;
       padding-top: 10px
  }

  #footer a:hover {
       color: #1E88E5;
  }

  #searchContent {
    height: 64px;
    width: 100%;
    border: 1px solid gray;
  }

  #searchBox {
      color: rgb(67, 67, 67);
      font-size: 20px;
      margin-left: 16px;
      padding: 8px 0px;
      width: 100%;
      border: none;
      background: none
  }

  [ng-click],
  [data-ng-click],
  [x-ng-click] {
      cursor: pointer;
  }
